.main-navbar li {
	height:100%;
	box-sizing: border-box;
	margin-right: 1rem;
}

.main-navbar{
	background-color: #dc3545;
}

.main-navbar .navbar-toggler-icon {
	background-image: url(../imagens/hamburguer.png)
}

.main-navbar li:hover {
	background-color: rgb(255,100,100);
}

.main-navbar li .navbar-link:hover {
	color: yellow !important;
}